html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: "Helvetica";
    color: white;
}

body {
    pointer-events: none;
    transform-style: preserve-3d;
    min-height: 100%;
    perspective: 9000px;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 9000px;
    background: #627d4d;
    background: linear-gradient(to bottom, #fff, #000);
    background-repeat: no-repeat;
    background-size: cover;
    background: black;
}

nav {
    display: none;
}

h1 {
    position: absolute;
    top: 50%;
    margin-top: 200px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
}

#error {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: red;
}

#board {
    position: absolute;
    width:  306px;
    height: 306px;
    outline: 1px solid gray;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: spin 300s linear infinite;
    pointer-events: auto;
    overflow: auto;
}


@keyframes spin {
    from {
        transform: rotateX(60deg) rotateZ(45deg);
   } 
    to {
        transform: rotateX(60deg) rotateZ(405deg);
   } 
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    float: left;
    line-height: 6em;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    text-indent: -300px;
    pointer-events: auto;
    // image-rendering: pixelated;
    -webkit-backface-visibility: hidden;
    background-size: 100% 100%;
}

.square.x {
    background-image: url(/x.png);
}

.square.o {
    background-image: url(/o.png);
}
