!!! 5
html(lang="en")
  head
    title Match
    script(src='/match.js')
    link(rel='stylesheet', href='/match.css')
  body
    nav
        a(href='/') Lobby
    #error
    block side
    block board
    block json
