!!! 5
html(lang="en")
  head
    title Match
    script(src='https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.min.js')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/match.js')
    link(rel='stylesheet', href='/match.css')
  body
    h1
        a(href='/') Lobby
    block board
    block json
